@model List<ActorModel>

<h2>Актеры</h2>

<p>
    <a asp-action="Create">Добавить нового актера</a>
</p>
<p>
    <a asp-action="PopularActor">Самый популярный актер</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var actor in Model)
        {
            <tr>
                <td>@actor.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@actor.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@actor.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>