@model List<LanguageModel>

<h2>Языки</h2>

<p>
    <a asp-action="Create">Добавить новый язык</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var language in Model)
        {
            <tr>
                <td>@language.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@language.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@language.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>